Flask==0.12.5
gitdb==4.0.5
gunicorn==19.10.0
joblib==0.11
json-merge-patch==0.2
json5==0.8.5
matplotlib==2.1.0
mysqlclient==2.0.3
nltk==3.2.5
numpy==1.20
pandas==0.23.3
pandocfilters==1.4.1
Pillow==5.2.0
plotly==2.0.15
scipy==1.2.1
seaborn==0.8.1
SQLAlchemy==1.2.19
sqlparse==0.3.0
